
@font-face {
    font-family: 'little_boyregular';
    src: url('https://v1.gdapis.com/api/groovemember/download/hhjzode5e7263bd998eefd18bcc63c1fae98c') format('woff2'),
         url('https://v1.gdapis.com/api/groovemember/download/lmrzc0db55227ae2f15df699ea5e84fdb1dd7') format('woff');
    font-weight: normal;
    font-style: normal;

}
h1{font-family: 'little_boyregular';!important;}
#change for h1.h2,p for the heading or paragraph on the page
